<h1>Ny tilmelding</h1>
<p>Der er kommet en ny tilmelding på {{ params.site_name }}.</p>
<h2>Barnets information</h2>
<h3>Navn</h3>
<p>{{ params.form_values.child_name }}</p>
<h3>Fødselsdag</h3>
<p>{{ params.form_values.birth_date }}</p>
<h3>Køn</h3>
<p>{{ params.form_values.sex }}</p>
<h3>Skole</h3>
<p>{{ params.form_values.school }}</p>
<h3>Klassetrin</h3>
<p>{{ params.form_values.grade }}</p>
<h2>Forælderinformation</h2>
<h3>Navn</h3>
<p>{{ params.form_values.parent_name }}</p>
<h3>Telefonnummer</h3>
<p>{{ params.form_values.phone_number }}</p>
<h3>E-mail adresse</h3>
<p>{{ params.form_values.mail }}</p>
<h3>Adresse</h3>
<p>{{ params.form_values.address }}</p>
<h3>Aktivitet</h3>
<p>{{ params.form_values.activity }}</p>
<h3>Område</h3>
<p>{{ params.form_values.area }}</p>
