<h1>{{ 'New signup'|t }}</h1>
<p>{{ 'There is a new signup on @site_name in your area'|t({'@site_name': params.site_name}) }}</p>

<p><a href="{{ params.site_url }}node/{{ params.node_id }}">{{ 'View signup'|t }}</a></p>

<p><a href="{{ params.site_url }}admin/tilmeldinger?field_neighborhood_target_id={{ params.area_id }}">{{ 'View all new signups from @area'|t({'@area': params.form_values.area}) }}</a></p>

<p>{{ 'Kind regards @site_name'|t({'@site_name': params.site_name}) }}</p>
