<h1>Ny tilmelding</h1>
<p>Der er kommet en ny tilmelding på {{ params.site_name }}.</p>
<h2>Barnets information</h2>
<h4>Barnets navn</h4>
<p>{{ params.form_values.child_name }}</p>
<h4>Barnets fødselsdag</h4>
<p>{{ params.form_values.birth_date }}</p>
<h4>Barnets køn</h4>
<p>{{ params.form_values.sex }}</p>
<h4>Barnets skole</h4>
<p>{{ params.form_values.school }}</p>
<h4>Barnets klassetrin</h4>
<p>{{ params.form_values.grade }}</p>
<h2>Forældre information</h2>
<h4>Navn</h4>
<p>{{ params.form_values.parent_name }}</p>
<h4>Telefonnummer</h4>
<p>{{ params.form_values.phone_number }}</p>
<h4>E-mail adresse</h4>
<p>{{ params.form_values.mail }}</p>
<h4>Adresse</h4>
<p>{{ params.form_values.address }}</p>
<h4>Aktivitet</h4>
<p>{{ params.form_values.activity }}</p>
<h4>Område</h4>
<p>{{ params.form_values.area }}</p>
