<h3 class="pr-5">{{ content.title[0] }}</h3>
<div class="effort-thumbnail">
  <div class="effort-thumbnail-image rounded-circle">
    {{ content.field_effort_area_image }}
  </div>
</div>
<p>{{ content.field_effort_area_description[0] }}</p>
<a class="btn btn-primary btn-block mt-auto" href="{{ content.field_effort_area_link[0]['#url'] }}">{{ content.field_effort_area_link[0]['#title'] }}</a>


